.body {
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    height: 100vh;
    margin: 0;
}
.header {
    flex: 1;
    /* background-color: #000000; */
    padding: 20px;
    text-align: center;
    background:url(../img/intro_bg.jpg) center top; 
    background-size:cover; 
}
.header h1 { padding-top:50px }
.header h2 { margin-top:56px; color:#fff; font-size:40px; letter-spacing:0
}
.header p { font-family:nanumsquare; font-size:26px; font-weight:700; margin-top:13px; color:#fff; line-height:1.4; letter-spacing:-1px 
}
.content {
    flex: 3;
    display: flex;
}
.sidebar {
    flex: 1;
    background-color: #000000;
    padding-left: 20px;
    padding: 20px;
    color:#fff;
    overflow-y: auto;  /* 세로 스크롤이 나타나도록 설정 */
    max-height: 300px; /* 사이드 바의 최대 높이 설정 */
    
}
.folder {
    margin-bottom: 10px;
    cursor: pointer;
  }

.expanded > ul {
    display: block;
  }

ul {
    display: none;
}

.main {
    flex: 4;
    padding: 20px;
    height:680px; 
    text-align:center; 
    background:url(../img/main_bg.jpg) center top; 
    background-size:cover; 
    position:relative;    
    color:#fff;
}

 /* 모바일에 최적화된 CSS 스타일 */
 @media (max-width: 700px) {
    .header h2 {
      font-size: 24px;
    }

    .header p {
      font-size: 18px;
    }

    .sidebar {
      padding: 10px;
    }
    .sidebar h3{
      font-size: 20px;
    }
  }